.App {
  text-align: center;
  background-color: #FFFCF0;
}


header {
  background-color: #FFF6E2;
  box-shadow: 0 8px 18px 13px rgba(240,240,240,0.61);
}

.content {
  margin: 1em;
  height: 30em;
}

footer {
  padding: 1em;
  background-color: #FFF6E2;
  box-shadow: 0 8px 18px 13px rgba(240,240,240,0.61);
}

.invisible-ul {
  padding: 0;
  list-style-type: none;
}

.invisible-a {
  text-decoration: none;
  color: black;
}
